<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Disciple</title>
  
  <!-- ========= -->
  <!--    CSS    -->
  <!-- ========= -->
  <style type="text/css">
    #todoapp ul {
      list-style-type: none; /* Hides bullet points from todo list */
    }
    #todo-list input.edit {
      display: none; /* Hides input box*/
    }
    #todo-list .editing label {
      display: none; /* Hides label text when .editing*/
    }    
    #todo-list .editing input.edit {
      display: inline; /* Shows input text box when .editing*/
    }    
  </style>  
</head>
<body>
  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->

  <section id="discipleapp">
    <header id="header">
      <h1>Disciples</h1>
      <input id="new-disciple" placeholder="Bob Bobberson">
    </header>
    <section id="main">
      <button id="new-stage">New Stage</button>
      <textarea cols=100 rows=30 id="disciple-log" readonly=true></textarea>
      <ul id="disciple-list"></ul>
      <ul id="stage-list"></ul>
      <ul id="adventure-list"></ul>
    </section>
  </section>

  <!-- Templates -->

  <script type="text/template" id="adventure-template">
    <div class="adventure-view">
    <ul>
      <li>
        <label>Name</label>
        <input class="adventure-name" value="<%- adventure.name %>">
      </li>
      <li>
        <label>Stages</label>
        <ul>
        <% _.each(adventureStages, function(stage) { %>
          <li> 
          <%- stage.description %>
          </li>
        <% }); %>
        </ul>
      </li>
      <select>
      <% _.each(allStages, function(stage) { %>
        <option value=<%- stage.id %>><%- stage.description %></option>
      <% }); %>
      </select>
      <button class="add-stage">Add Stage</button>
      <button class="update">Save</button>
    </div>
  </script>
  <script type="text/template" id="stage-template">
    <div class="stage-view">
      <ul>
	<li>
	  <label>Description</label>
          <input class="stage-description" value="<%- description %>">
        </li>
	<li>
	  <label>Difficulty</label>
	  <input class="difficulty" type="number" min="1" max="300" step="1", value="<%- difficulty %>">
        </li>
	<li>
	  <label>Success</label>
	  <textarea class="success-message"><%- success.message %></textarea>
	  <ul class="success-consequences">
          <% _.each(success.consequences, function(consequence)  { %>
	    <li>
	      <div class="consequence-view">
		<select class="stat" default="<%- consequence.stat %>">
		  <option value="health">Health</option>
		  <option value="condience">Confidence</option>
		  <option value="focus">Focus</option>
		</select>
		<input class="change" type="number" min="-20" max="20" step="0.1" value="<%- consequence.change %>">
	      </div>
	    </li>
          <% }); %>
	  </ul>
        </li>
	<li>
	  <label>Failure</label>
	  <textarea class="failure-message"><%- failure.message %></textarea>
	  <ul class="failure-consequences">
          <% _.each(failure.consequences, function(consequence)  { %>
	    <li>
	      <div class="consequence-view">
		<select class="stat" default="<%- consequence.stat %>">
		  <option value="health">Health</option>
		  <option value="condience">Confidence</option>
		  <option value="focus">Focus</option>
		</select>
		<input class="change" type="number" min="-20" max="20" step="0.1" value="<%- consequence.change %>">
	      </div>
	    </li>
          <% }); %>
	  </ul>
        </li>
        <li>
	  <button class="update">Update</button>
        </li>
      </ul>
    </div>
  </script>  

  <script type="text/template" id="disciple-template">
    <div class="view">
      <label><%- name %></label>
      <ul>
        <li>skill: <%- skill %></li>
        <li>health: <%- health %></li>
        <li>confidence: <%- confidence %></li>
        <li>pride: <%- pride %></li>
        <li>focus: <%- focus %></li>
        <li>discipline: <%- discipline %></li>
      </ul>
      <button class="encourage">Encourage</button>
      <button class="chastise">Chastise</button>
      <button class="refocus">Refocus</button>
    </div>
  </script>  

  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js" type="text/javascript"></script> 

  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script src="./app.js" type="text/javascript"> </script>
  
</body>
</html>
